* {
  list-style-type: none;
  font-family: "Courier Prime", monospace;
}
a {
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
body {
  width: 100vh;
  margin: 0 auto;
}
.menu {
  display: flex;
  width: 100vh;
  padding: 0;
  justify-content: space-between;
}

.menuNavBtn {
  color: red;
  background-color: black;
  border: solid 1px red;
  height: 25px;
}

.menuNavBtn.active {
  background-color: darkblue;
  border: solid 1px orange;
  color: orange;
}

.myFirstDom {
  margin: 50px 0 0 15px;
}

.container {
  margin-bottom: 10px;
  padding: 10px 0 69px 180px;
  position: relative;
  width: 500px;

  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: "Courier Prime", monospace;
}

.userPhoto {
  position: absolute;
  left: 25px;
  justify-self: start;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 120px;
}
.hidden {
  display: none;
}

.buyButton {
  background-color: black;
  color: white;
  font-size: 11px;
  border: 1px solid black;
  margin: 10px 0px 0px 3px;
}

.buyButton:active {
  background-color: red;
  color: white;
}
.menuNav {
  position: relative;
}

.count {
  display: none;
}

.visible {
  display: block;
  width: 20px;
  height: 20px;
  background: white;
  color: red;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
  line-height: 1.8;
  display: flex;
  justify-content: center;
  font-family: "Courier Prime", monospace;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid red;
}

.menuLinkBtn {
  line-height: 25px;
  display: block;
  color: red;
  background-color: black;
  border: solid 1px red;
  height: 25px;
  width: 62.2px;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
